body{
    margin: 0px;
    background-image: linear-gradient(to bottom, rgb(0,4,40), rgb(0,78,146), lightblue);
}
h3{
    color: aliceblue
}
#AboutText{
    text-align: left;
    text-indent:40px;
    padding: 20px;
    background-color: black;
    border: 10px;
    border-color:whitesmoke;
    margin-left: 100px;
    margin-right: 100px;
}
#AboutText h2{
    background-color: antiquewhite;
    text-indent:none;
    display:flex;
    justify-content: center;
    padding-right: 20px;
}
/*

*/
img{
    width: 300px;
    height: 400px;
    padding:2%;
    align-content: center;
    background-color: antiquewhite;
    display: block;
    margin: 0 auto;
}
#imgAbout{
    padding-top: 50px;
    display: block;
    margin: 0 auto;
    width: 40%
}
#imgAbout img{
    background-color: rgb(42, 140, 165);
    width: 100%;
    height: 100%;
}
#backstory{
    text-align: center;
    background-color: whitesmoke;
    margin-left: 125px;
    margin-right: 125px;
    margin-bottom: 10px;
    padding-bottom: 10px

}
#one{
    text-align: center;
    padding: 2%;
    background-color: black;
    margin-left: 1%;
    margin-right: 1%;
}
#two{
    text-align: center;
    padding: 2%;
    background-color: black;
    margin-left: 1%;
    margin-right: 1%;
}
#three-image{
    text-align: center;
    padding: 2%;
    background-image: url("giphy.gif");;
    margin-left: 1%;
    margin-right: 1%;
}
#Featured{
    margin-left: 125px;
    margin-right: 125px;
    background-color: whitesmoke;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center
}
#Where-from h2{
    background-color: antiquewhite
}
#Where-from{
    text-align: center;
    padding: 2%;
    background-color: black;
    margin-left: 1%;
    margin-right: 1%;
}
#Family h2{
    background-color: antiquewhite
}
#Family{
    text-align: center;
    padding: 2%;
    background-color: black;
    margin-left: 1%;
    margin-right: 1%;
}
#Future-Goal h2{
    background-color: antiquewhite
}
#Future-Goal{
    text-align: center;
    padding: 2%;
    background-color: black;
    margin-left: 1%;
    margin-right: 1%;
}
.Featured-Works h2{
    background-color: antiquewhite;
}
#toolbar{
    display:flex;
    flex-direction: row;
    margin-top: 0px;
    width: 100%;
    background: linear-gradient( to right,rgba(24, 38, 51, 1), rgb(0,78,146), aliceblue);
    /* background-position-x: 0;
    background-position-y: 0; */
    list-style: none;
    height: 30px;
}

#toolbar img{
    background: none;
    height: 30px;
    padding: 0%;
    width: auto;
    float:center;
}
#toolbar{
    position: fixed;
}
#toolbar button{
    background-color: rgba(24, 38, 51, 0);
    margin-left: none;
    text-align: center;
    border-style: hidden;
}

@media only screen and (max-width:414px){
    body{
        padding: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }

    #AboutText{
        text-align: center;
        padding: 20px;
        background-color: black;
        border: 10px;
        border-color:whitesmoke;
        margin-left: 0;
        margin-right: 0;
    }
    #AboutText h3{
        font-size: 17px;
    }


    #backstory{
        text-align: center;
        background-color: whitesmoke;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 10px;
        padding-bottom: 10px
    
    }
    #backstory h3{
        font-size: 10px;
    }
    #Featured{
        text-align: center;
        margin-top: 10px;
        background-color: whitesmoke;
        margin-left: 0%;
        margin-right: 0%;
        padding-top: 10px;
        padding-bottom: 1%;
    }
    img{
        width: 80%;
    }
    #toolbar{
        padding: 10px;
        margin-top: 0px;
        width: 100%;
        background: linear-gradient( to right, rgb(233, 134, 134),rgb(106, 106, 211), rgb(240, 131, 240));
        list-style-type: none;
        text-align: center; 
        position: fixed;
        flex-direction: row;
    }
    
    #toolbar li{
        display: inline;
        margin-right: 1.5em;
        font-size: 80%;
        color: black;
    }
    
    #toolbar a{
        align-items: center;
    }
    }