h3{
    color: aliceblue
}
#imgAbout{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 10px;
}
#AboutText{
    text-align: center;
    padding: 20px;
    background-color: black;
    border: 10px;
    border-color:whitesmoke;
    margin-left: 100px;
    margin-right: 100px;
}
#AboutText h2{
    background-color: antiquewhite;
}


body {
    background-image: url("giphy.gif");
}
/*

*/
#backstory{
    text-align: center;
    background-color: whitesmoke;
    margin-left: 125px;
    margin-right: 125px;
    margin-bottom: 10px;
    padding-bottom: 10px

}
#one{
    text-align: center;
    padding: 2%;
    background-color: black;
    margin-left: 1%;
    margin-right: 1%;
}
#two{
    text-align: center;
    padding: 2%;
    background-color: black;
    margin-left: 1%;
    margin-right: 1%;
}
#three{
    text-align: center;
    padding: 2%;
    background-color: black;
    margin-left: 1%;
    margin-right: 1%;
}
#Featured{
    margin-left: 125px;
    margin-right: 125px;
    background-color: whitesmoke;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center
}
img{
    width: 300px;
    height: 400px;
    padding:10px;
    background-color: bisque;
    align-content: center
}
#Where-from h2{
    background-color: antiquewhite
}
#Where-from{
    text-align: center;
    padding: 2%;
    background-color: black;
    margin-left: 1%;
    margin-right: 1%;
}
#Family h2{
    background-color: antiquewhite
}
#Family{
    text-align: center;
    padding: 2%;
    background-color: black;
    margin-left: 1%;
    margin-right: 1%;
}
#Future-Goal h2{
    background-color: antiquewhite
}
#Future-Goal{
    text-align: center;
    padding: 2%;
    background-color: black;
    margin-left: 1%;
    margin-right: 1%;
}
.Featured-Works h2{
    background-color: antiquewhite;
}
@media only screen and (max-width:414px){
    body{
        padding: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }

    #AboutText{
        text-align: center;
        padding: 20px;
        background-color: black;
        border: 10px;
        border-color:whitesmoke;
        margin-left: 0;
        margin-right: 0;
    }

    #backstory{
        text-align: center;
        background-color: whitesmoke;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 10px;
        padding-bottom: 10px
    
    }
    #Featured{
        text-align: center;
        margin-top: 10px;
        background-color: whitesmoke;
        margin-left: 0%;
        margin-right: 0%;
        padding-top: 10px;
        padding-bottom: 1%;
    }
    img{
        width: 80%;
    }
}